<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{pageTitle}}
                </div>

                <div class="panel-body">


                    <form #editForm="ngForm" id="editForm" class="form-horizontal" novalidate (ngSubmit)="saveClientRecord()">

                        <fieldset *ngIf="clientRecord">
                            <div class="form-group" [ngClass]="{'has-error': (firstName.touched || firstName.dirty || clientRecord.id !== '0') &&
                                               !firstName.valid }">
                                <label class="col-md-2 control-label" for="firstName">Client First Name</label>

                                <div class="col-md-8">
                                    <input class="form-control" id="firstName" type="text" placeholder="Name (required)" required minlength="3" [(ngModel)]=clientRecord.firstName name="firstName" #firstName="ngModel" />
                                    <span class="help-block" *ngIf="(firstName.touched ||
                                                         firstName.dirty || clientRecord.id !== '0') &&
                                                         firstName.errors">
                                      <span *ngIf="firstName.errors.required">
                                          Client first name is required.
                                      </span>
                                    <span *ngIf="firstName.errors.minlength">
                                          Client first name must be at least three characters.
                                      </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-error': (lastName.touched || firstName.dirty || clientRecord.id !== '0') &&
                                               !lastName.valid }">
                                <label class="col-md-2 control-label" for="firstName">Client Last Name</label>

                                <div class="col-md-8">
                                    <input class="form-control" id="lastName" type="text" placeholder="Last Name (required)" required minlength="3" [(ngModel)]=clientRecord.lastName name="lastName" #lastName="ngModel" />
                                    <span class="help-block" *ngIf="(lastName.touched || lastName.dirty || clientRecord.id !== '0') && lastName.errors">

                                      <span *ngIf="lastName.errors.required">
                                          Client last name is required.
                                      </span>
                                    <span *ngIf="lastName.errors.minlength">
                                          Client last name must be at least three characters.
                                      </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-error': (initials.touched || firstName.dirty || clientRecord.id !== '0') &&
                                               !lastName.valid }">
                                <label class="col-md-2 control-label" for="firstName">Client Initials</label>

                                <div class="col-md-8">
                                    <input class="form-control" id="lastName" type="text" placeholder="Initials (required)" [(ngModel)]=clientRecord.initials name="initials" #initials="ngModel" />
                                    <span class="help-block" *ngIf="(initials.touched || initials.dirty || clientRecord.id !== '0') && initials.errors">
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-error': (gender.touched || gender.dirty || clientRecord.id !== '0') &&
                                               !gender.valid }">
                                <label class="col-md-2 control-label" for="firstName">Client Gender</label>

                                <div class="col-md-8">
                                    <input class="form-control" id="gender" type="text" placeholder="Gender (required)" required [(ngModel)]=clientRecord.gender name="gender" #gender="ngModel" />
                                    <span class="help-block" *ngIf="(gender.touched || gender.dirty || clientRecord.id !== '0') && gender.errors">

                                      <span *ngIf="gender.errors.required">
                                          Client Gender required.
                                      </span>
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="radio-inline col-md-2 control-label">
                                      <input type="radio" name="addressRadioBtn" value="homeAddress" (click)="showAddress('homeAddress')" checked/> Home Address
                                    </label>

                                        <label class="radio-inline col-md-2 control-label">
                                      <input type="radio" name="addressRadioBtn" value="postalAddress" (click)="showAddress('postalAddress')"/> Postal Address
                                    </label>

                                        <label class="radio-inline col-md-2 control-label">
                                      <input type="radio" name="addressRadioBtn" value="workAddress" (click)="showAddress('workAddress')"/> Work Address
                                    </label>
                                    </div>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="descriptionId">Address</label>
                                <div class="col-md-8">
                                    <ng-container [ngSwitch]="getSelectedAddressType()">
                                        <div class="form-group" *ngSwitchCase="'homeAddress'">

                                            <div class="form-group">
                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resBuildingNumber.touched || resBuildingNumber.dirty || residentialAddress.buildingNumber !== null) && !resBuildingNumber.valid }">
                                                        <label class="col-md-3 control-label" for="resBuildingNumber">Building No.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resBuildingNumber" type="text" placeholder="Initials (required)" [(ngModel)]=residentialAddress.buildingNumber name="resBuildingNumber" #resBuildingNumber="ngModel" />
                                                            <span class="help-block" *ngIf="(resBuildingNumber.touched || resBuildingNumber.dirty || clientRecord.id !== '0') && resBuildingNumber.errors">
                                                          </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resStreetName.touched || resStreetName.dirty || residentialAddress.streetName !== null) && !resStreetName.valid }">
                                                        <label class="col-md-3 control-label" for="resBuildingNumber">Street.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resStreetName" type="text" placeholder="Street Name (required)" [(ngModel)]=residentialAddress.streetName name="resStreetName" #resStreetName="ngModel" />
                                                            <span class="help-block" *ngIf="(resStreetName.touched || resStreetName.dirty || clientRecord.id !== '0') && resStreetName.errors">
                                                      </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resArea.touched || resArea.dirty || residentialAddress.area !== null) && !resArea.valid }">
                                                        <label class="col-md-3 control-label" for="resBuildingNumber">Area.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resStreetName" type="text" placeholder="Area Name (required)" [(ngModel)]=residentialAddress.area name="resArea" #resArea="ngModel" />
                                                            <span class="help-block" *ngIf="(resArea.touched || resArea.dirty || clientRecord.id !== '0') && resArea
                                                            .errors">
                                                      </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resCode.touched || resCode.dirty || residentialAddress.code !== null) && !resCode.valid }">
                                                        <label class="col-md-3 control-label" for="resCode">Code.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resCode" type="text" placeholder="Area Code (required)" [(ngModel)]=residentialAddress.code name="resCode" #resCode="ngModel" />
                                                            <span class="help-block" *ngIf="(resCode.touched || resCode.dirty || clientRecord.id !== '0') && resCode.errors">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resProvince.touched || resProvince.dirty || residentialAddress.province !== null) && !resCode.valid }">
                                                        <label class="col-md-3 control-label" for="resCode">Province.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resProvince" type="text" placeholder="Area Province (required)" [(ngModel)]=residentialAddress.province name="resProvince" #resProvince="ngModel" />
                                                            <span class="help-block" *ngIf="(resProvince.touched || resProvince.dirty || clientRecord.id !== '0') && resProvince.errors">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div *ngSwitchCase="'postalAddress'">

                                            <div class="form-group">
                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (postalBuildingNumber.touched || postalBuildingNumber.dirty || postalAddress.buildingNumber !== null) && !postalBuildingNumber.valid }">
                                                        <label class="col-md-3 control-label" for="resBuildingNumber">Building No.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="postalBuildingNumber" type="text" placeholder="Box number (required)" [(ngModel)]=postalAddress.buildingNumber name="postalBuildingNumber" #postalBuildingNumber="ngModel" />
                                                            <span class="help-block" *ngIf="(postalBuildingNumber.touched || postalBuildingNumber.dirty || clientRecord.id !== '0') && postalBuildingNumber.errors">
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resStreetName.touched || resStreetName.dirty || postalAddress.streetName !== null) && !resStreetName.valid }">
                                                        <label class="col-md-3 control-label" for="resBuildingNumber">Street.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resStreetName" type="text" placeholder="Street Name (required)" [(ngModel)]=postalAddress.streetName name="resStreetName" #resStreetName="ngModel" />
                                                            <span class="help-block" *ngIf="(resStreetName.touched || resStreetName.dirty || clientRecord.id !== '0') && resStreetName.errors">
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resArea.touched || resArea.dirty || postalAddress.area !== null) && !resArea.valid }">
                                                        <label class="col-md-3 control-label" for="resBuildingNumber">Area.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resStreetName" type="text" placeholder="Area Name (required)" [(ngModel)]=postalAddress.area name="resArea" #resArea="ngModel" />
                                                            <span class="help-block" *ngIf="(resArea.touched || resArea.dirty || clientRecord.id !== '0') && resArea
                                                          .errors">
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resCode.touched || resCode.dirty || postalAddress.code !== null) && !resCode.valid }">
                                                        <label class="col-md-3 control-label" for="resCode">Code.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resCode" type="text" placeholder="Area Code (required)" [(ngModel)]=postalAddress.code name="resCode" #resCode="ngModel" />
                                                            <span class="help-block" *ngIf="(resCode.touched || resCode.dirty || clientRecord.id !== '0') && resCode.errors">
                                                          </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resProvince.touched || resProvince.dirty || postalAddress.province !== null) && !resCode.valid }">
                                                        <label class="col-md-3 control-label" for="resCode">Province.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resProvince" type="text" placeholder="Area Province (required)" [(ngModel)]=postalAddress.province name="resProvince" #resProvince="ngModel" />
                                                            <span class="help-block" *ngIf="(resProvince.touched || resProvince.dirty || clientRecord.id !== '0') && resProvince.errors">
                                                          </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-group" *ngSwitchCase="'workAddress'">

                                            <div class="form-group">
                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (postalBuildingNumber.touched || postalBuildingNumber.dirty || workAddress.buildingNumber !== null) && !postalBuildingNumber.valid }">
                                                        <label class="col-md-3 control-label" for="resBuildingNumber">Building No.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="postalBuildingNumber" type="text" placeholder="Box number (required)" [(ngModel)]=workAddress.buildingNumber name="postalBuildingNumber" #postalBuildingNumber="ngModel" />
                                                            <span class="help-block" *ngIf="(postalBuildingNumber.touched || postalBuildingNumber.dirty || clientRecord.id !== '0') && postalBuildingNumber.errors">
                                                  </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resStreetName.touched || resStreetName.dirty || workAddress.streetName !== null) && !resStreetName.valid }">
                                                        <label class="col-md-3 control-label" for="resBuildingNumber">Street.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resStreetName" type="text" placeholder="Street Name (required)" [(ngModel)]=workAddress.streetName name="resStreetName" #resStreetName="ngModel" />
                                                            <span class="help-block" *ngIf="(resStreetName.touched || resStreetName.dirty || clientRecord.id !== '0') && resStreetName.errors">
                                              </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resArea.touched || resArea.dirty || workAddress.area !== null) && !resArea.valid }">
                                                        <label class="col-md-3 control-label" for="resBuildingNumber">Area.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resStreetName" type="text" placeholder="Area Name (required)" [(ngModel)]=workAddress.area name="resArea" #resArea="ngModel" />
                                                            <span class="help-block" *ngIf="(resArea.touched || resArea.dirty || clientRecord.id !== '0') && resArea
                                                    .errors">
                                              </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resCode.touched || resCode.dirty || workAddress.code !== null) && !resCode.valid }">
                                                        <label class="col-md-3 control-label" for="resCode">Code.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resCode" type="text" placeholder="Area Code (required)" [(ngModel)]=workAddress.code name="resCode" #resCode="ngModel" />
                                                            <span class="help-block" *ngIf="(resCode.touched || resCode.dirty || clientRecord.id !== '0') && resCode.errors">
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div [ngClass]="{'has-error': (resProvince.touched || resProvince.dirty || workAddress.province !== null) && !resCode.valid }">
                                                        <label class="col-md-3 control-label" for="resCode">Province.</label>

                                                        <div class="col-md-4">
                                                            <input class="form-control" id="resProvince" type="text" placeholder="Area Province (required)" [(ngModel)]=workAddress.province name="resProvince" #resProvince="ngModel" />
                                                            <span class="help-block" *ngIf="(resProvince.touched || resProvince.dirty || clientRecord.id !== '0') && resProvince.errors">
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </ng-container>
                                </div>


                                <div class="form-group col-md-12" [ngClass]="{'has-error': (gender.touched || gender.dirty || clientRecord.id !== '0') &&
                                               !gender.valid }">
                                    <label class="col-md-2 control-label" for="firstName">Contact Details</label>

                                    <div class="col-md-8">
                                        <input class="form-control" id="gender" type="text" placeholder="Gender (required)" required [(ngModel)]=clientRecord.gender name="gender" #gender="ngModel" />
                                        <span class="help-block" *ngIf="(gender.touched || gender.dirty || clientRecord.id !== '0') && gender.errors">

                                      <span *ngIf="gender.errors.required">
                                          Client Gender required.
                                      </span>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-2">
                                    <span>
                            <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px" [disabled]='!editForm.valid'>
                                Save
                            </button>
                        </span>
                                    <span>
                            <a class="btn btn-default" style="width:80px" (click)="cancel()">
                                Cancel
                            </a>
                        </span>
                                    <span>
                            <a class="btn btn-default" style="width:80px" (click)="deleteClient()">
                                Delete
                            </a>
                        </span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class='panel-footer'>
                    <a class='btn btn-default navigation-buttons' (click)='onBack()'>
                        <i class='glyphicon glyphicon-chevron-left'></i> Back-To-list
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>